.scrollbar::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    border-radius: 20px;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b0b1b6;
}

.scrollbar {
    scrollbar-color: #b0b1b6 #f5f5f5;
}

.default-cursor {
    cursor: default;
}