.card {
    max-width: 200px;

    min-height: 100px;
    max-height: 120px;

    margin: 15px;
}

.title {
    padding: 10px;
}

.boards {
    width: 800px;
	background-color: red;
    margin: auto;
}