<div id="cardcreationmodal">
  <form [formGroup]="createCardForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <input type="text" placeholder="Add card name" formControlName="cardName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormControls.cardName.errors }" />
          <div *ngIf="submitted && getFormControls.cardName.errors" class="invalid-feedback">
            <div *ngIf="getFormControls.cardName.errors.required">Card name is required</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Add Card</button>
      <button type="button" class="btn btn-dark ml-1" (click)=close()>Close</button>
    </div>
  </form>
</div>