<div class="mx-1 p-1 rounded mh-100 list d-inline-block align-top shadow-sm">
    <h6 class="px-2 pt-1 text-break">{{ name }}</h6>
    <div class="overflow-auto scrollbar list-cards">
        <ul class="list-unstyled">
            <li class="px-1" *ngFor="let card of cards">
                <app-card-in-list (click)="openCardView(card.cardId, name)" [name]=card.name></app-card-in-list>
            </li>
            <li class="px-1">
                <div class="card">
                    <div [hidden]="visibleAddCard">
                        <h6 class="px-2 pt-1 text-break">Add new card</h6>
                        <a class="stretched-link" (click)=visibleAddCardForm()></a>
                    </div>
                    <app-create-card [hidden]="!visibleAddCard" (getCardListsForListComponent)="getCardListsForListComponent()" (visibleAddCardForm)="visibleAddCardForm()" [boardId]=boardId [listId]=listId></app-create-card>
                </div>
            </li>
        </ul>
    </div>
</div>