<div class="mx-3 px-1 pt-1" id="listcreationmodal">
    <form [formGroup]="createListForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" placeholder="Add list name" formControlName="listName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormControls.listName.errors }" />
            <div *ngIf="submitted && getFormControls.listName.errors" class="invalid-feedback">
                <div *ngIf="getFormControls.listName.errors.required">List name is required</div>
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-primary">Add List</button>
                <button type="button" class="btn btn-dark ml-1" (click)=close()>Close</button>
            </div>
        </div>
    </form>
</div>