.board {	
    height: 94vh;
}

.board-lists {
    max-height: 88.5vh;
    height: 88.5vh;
    display: flex;
    flex-direction: row;
}

.invite-button {
    transition: all 0.3s;
}

.invite-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 25px;
}

.scrollbar::-webkit-scrollbar {
    height: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c2c2c2;
}

.scrollbar {
    scrollbar-color: #c2c2c2 #f5f5f5;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list {
    background-color: #f5f5f5;
    min-width: 280px;
    max-width: 280px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border: none;
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.stretched-link {
    cursor: pointer;
}