.scrollbar::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 25px;
}

.scrollbar::-webkit-scrollbar {
    height: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c2c2c2;
}

.scrollbar {
    scrollbar-color: #c2c2c2 #f5f5f5;
}

.board-menu {
    height: 6vh;
}

.list {
    background-color: #f5f5f5;
    width: 280px;
}

.stretched-link {
    cursor: pointer;
}

.navbar-nav {
    display: inline; 
    width: 100%;
}

.navbar-nav li {
    width: 10%;
    display: block;
    float: left;
    margin-right: .5%;
}

.invite-button {
    background-color: rgba(0, 0, 0, .02);
    height: 40px;
    line-height: 24px;
    width: 50%;
}

.hoverable-box:hover .invite-button {
    background-color: rgba(0, 0, 0, .04);
}

.board-lists {
    max-height: 88vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-box:last-child {
    border: none;
}
  
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}